<!doctype html>
<title>Deakin Energy</title>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
   <a class="weatherwidget-io" href="https://forecast7.com/en/n37d81144d96/melbourne/" data-label_1="MELBOURNE"
      data-label_2="WEATHER" data-theme="original">MELBOURNE WEATHER</a>
   <script>
      !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
   </script>
</head>
<style>
   body {
   font-family: 'Poppins', sans-serif;
   }
   
   .header {
   background: #35477d;
   padding: 20px;
   border-bottom: 1px solid #35477d;
   font-size: 25px !important;
   color: #fff;
   text-align: center;
   font-weight: normal;
   }
   
   p {
   line-height: 26px;
   }
   
   .headingt {
   position: relative;
   margin: 0 0 20px;
   color: #181f4e;
   padding-bottom: 5px;
   font-weight: 600;
   font-size: 26px;
   line-height: 28px;
   /* padding-left: 20px; */
   padding-top: 20px;
   padding-bottom: 6px;
   }
   
   .headingt:before {
   content: " ";
   position: absolute;
   left: 40;
   bottom: -2px;
   width: 90px;
   height: 3px;
   background-color: #0a94f3 !important;
   }
   
   .logo {
   text-transform: uppercase;
   margin: 0px;
   }
   
   .footer {
   background: #35477d;
   padding: 10px;
   border-bottom: 1px solid #35477d;
   color: #fff;
   text-align: center;
   font-weight: 500;
   }
   
   footer p {
   margin-bottom: 0px;
   }
   
   .body-main {
   background: #ffffff;
   box-shadow: -50px 0px 100px -80px #000000, 50px 0px 100px -80px #000000;
   }
   
   .btn,
   .form-control {
   border-radius: 0px;
   }
   
   .tab-content {
   border: 1px solid #e6e4e4;
   padding: 10px;
   margin-bottom: 20px;
   }
   
   ul.nav-tabs {
   border: 0px;
   }
   
   .nav-tabs>li.active>a,
   .nav-tabs>li.active>a:focus,
   .nav-tabs>li.active>a:hover {
   background: #35477d;
   border-bottom: 3px solid #0a94f3;
   color: #fff;
   }
   
   ul.nav-tabs li a,
   .nav>li>a:focus,
   .nav>li>a:hover {
   background: #35477d;
   color: #fff;
   }
   
   .border {
   border-width: 1px;
   border-color: lightgrey;
   border-style: solid;
   }

   .svg-parent {
      display: block;
      margin: 0 auto;
   }
   
</style>
<body onload="option_retainer()">
   <section>
      <header>
         <div class="container header">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col=lg-12">
                  <h1 class="logo"> VIC electricity demand forcasting </h1>
               </div>
            </div>
         </div>
      </header>
   </section>
   <section>
      <div class="container body-main">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col=lg-12">
            <p>
            <h3 class="headingt">About VIC Electricity Demand Forecasting</h3>
            </p>
         </div>
      </div>
      <ul class="nav nav-tabs">
         <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a id="predictions_li" data-toggle="tab" href="#predictions">Predictions</a></li>
            <li><a id="monthly_li" data-toggle="tab" href="#yearlytrends">Yearly Trend</a></li>
            <li><a id="festival_li" data-toggle="tab" href="#festival">Festival Demand</a></li>
            <li><a data-toggle="tab" href="#algorithms">Algorithms</a></li>
            <li><a data-toggle="tab" href="#live">Live Demand</a></li>
         </ul>
      </ul>
      <div class="tab-content">
         <div id="home" class="tab-pane fade in active">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col=lg-12">
                  <h3 class="headingt">Upload new input file</h3>
                  <!-- {% with messages = get_flashed_messages() %}
                     {% if messages %}
                     <ul class=flashes>
                     {% for message in messages %}
                      <li>{{ message }}</li>
                     {% endfor %}
                     </ul>
                     {% endif %}
                     {% endwith %} -->
               </div>
               <form method="post" action="/" enctype="multipart/form-data">
                  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                     <input type="file" name="files[]" multiple="true" autocomplete="off" required
                        class="form-control">
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                     <input type="submit" value="Submit" class="btn btn-success">
                  </div>
               </form>
            </div>
            <div class="row" style="margin-top:30px; margin-bottom:30px;">
               <form action="/forecast" method="POST" enctype="multipart/form-data">
                  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                     <div class="form-group">
                        <label>select any one uploaded file</label>
                        <select id="filelist" name='flist' class="form-control">
                           <option value="default" selected>Please select any one uploaded file</option>
                           {% for file in filenames %}
                           <option value="{{file}}">{{file}}</option>
                           {% endfor %}
                        </select>
                        <p> {% if error %}
                        <p style="color:#FF0000" ;> Please select an input file from dropdown to process
                        </p>
                        {% endif %}
                        </p>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                     <div class="form-group">
                        <label>Select Algorithm</label>
                        <select id="algolist" name='alist' class="form-control">
                           <option id="LSTM" value="LSTM" selected> LSTM </option>
                           <option id="LSTM2" value="LSTM2"> LSTM configurable</option>
                           <option id="GB" value="Gradient_Booster"> Gradient Booster </option>
                           <option id="DT" value="Decision_Tree"> Decision Tree </option>
                           <option id="SVM" value="SVM"> SVM </option>
                        </select>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                     <input type="submit" value="Train and Forecast" class="btn btn-success"
                        style="margin-top:25px;">
                  </div>
               </form>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col=lg-12">
                  {% if selected_algorithm > " " %}
                  <h3 class="headingt"> Algorithm : {{selected_algorithm}}</h3>
                  {% endif %}
                  {%if line_chart %}
                  <embed type="image/svg+xml" src='{{line_chart|safe}}' style='max-width:750px' />
                  {% endif %}
                  {% if selected_algorithm > " " %}
                  <h3 class="headingt">
                  Root Mean Square Error value : {{RMSE}}
                  <h3>
                  {% endif %}
               </div>
            </div>
         </div>
         <div id="predictions" class="tab-pane fade">
            <div class="col-xs-12 col-sm-12 col-md-6 col=lg-12">
               {% if selected_algorithm > " " %}
               <h3 class="headingt"> Algorithm : {{selected_algorithm}}</h3>
               {% endif %}
               {%if line_chart %}
               <embed type="image/svg+xml" src='{{line_chart|safe}}' style='max-width:750px' />
               {% endif %}
               {% if selected_algorithm > " " %}
               <h3 class="headingt">
               Root Mean Square Error value : {{RMSE}}
               <h3>
               {% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col=lg-12">
               {% if selected_algorithm > " " %}
               <h3 class="headingt"> Algorithm : {{selected_algorithm}}</h3>
               {% endif %}
               {%if line_chart %}
               <embed type="image/svg+xml" src='{{line_chart|safe}}' style='max-width:750px' />
               {% endif %}
               {% if selected_algorithm > " " %}
               <h3 class="headingt">
               Root Mean Square Error value : {{RMSE}}
               <h3>
               {% endif %}
            </div>
         </div>
         <div id="yearlytrends" class="tab-pane fade">
            <h3>Monthly Trends since 2000</h3>
            <p>Select a month and a state from the drop down menus</p>
            <form action="/monthly" method="POST" enctype="multipart/form-data">
               <div class="col-md-12">
                  <div class="form-group col-md-3">
                     <label>Select Month</label>
                     <select id="month" name='month' class="form-control">
                        <option value="01">January</option>
                        <option value="02">Febuary</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                     </select>
                  </div>
                  <div class="form-group col-md-3">
                     <label>Select State</label>
                     <select id="mstate" name='mstate' class="form-control">
                        <option id="VIC1" value="VIC1"> VICTORIA</option>
                        <option id="NSW1" value="NSW1"> NEW SOUTH WALES </option>
                        <option id="SA1" value="SA1"> SOUTH AUSTRALIA </option>
                        <option id="TAS1" value="TAS1"> TASMANIA </option>
                        <option id="QLD1" value="QLD1"> QUEENSLAND </option>
                     </select>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                     <input type="submit" value="Submit" class="btn btn-success">
                  </div>
               </div>
            </form>
			
			<form method="post" action="/showall">
				<input type="submit" value="Show just for Victoria" name="showall" class="btn btn-success"/>
			</form>
			
         {%if monthly_image %}
            <div class="svg-parent">
               <embed width="1180" height="700" type="image/svg+xml" src= '{{ monthly_image|safe }}' />
            </div>
			{% endif %}
         </div>
         <div id="festival" class="tab-pane fade">
            <h3>Energy usage on Festivals</h3>
            <p>Select a year and a festival from the drop down menus</p>
            <form action="/festival" method="POST" enctype="multipart/form-data">
               <div class="col-md-12">
                  <div class="form-group col-md-3">
                     <label>Select Year</label>
                     <select id="fyear" name='fyear' class="form-control">
                     </select>
                  </div>
                  <div class="form-group col-md-3">
                     <label>Select Festival</label>
                     <select id="festival_select" name='festival' class="form-control">
                        <option id="Christmas" value="Christmas"> Christmas</option>
                        <option id="Australia Day" value="Australia Day"> Australia Day </option>
                        <option id="Easter" value="Easter"> Easter </option>
                        <option id="New Year" value="New Year"> New Year </option>
                        <option id="Good Friday" value="Good Friday"> Good Friday </option>
                        <option id="Anzac Day" value="Anzac Day"> Anzac Day </option>
                     </select>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                     <input type="submit" value="Submit" class="btn btn-success">
                  </div>
               </div>
            </form>
            {%if festival_image %}
            <p>Trends show that the energy demand on festivals was lower than the previous
               and the next days. It can be due factories not being operated and offices shut down during public holidays
            </p>
            <img src="../static/images/{{festival_image}}" alt="Chart" class='border'>
            {% endif %}
         </div>
         <div id="algorithms" class="tab-pane fade">
            <h3>CONTEXT</h3>
            <p>Brief Description about the algorithms used in this project</p>
            <h1>LSTM</h1>
            <p>Long short-term memory (LSTM) is an artificial recurrent neural network (RNN) architecture used
               in the field of deep learning. Unlike standard feedforward neural networks, LSTM has feedback
               connections. It can not only process single data points (such as images), but also entire
               sequences of data (such as speech or video). LSTM networks are well-suited to classifying,
               processing and making predictions based on time series data, since there can be lags of unknown
               duration between important events in a time series
            </p>
            <h1>GRADIENT BOOSTER</h1>
            <p>Brief Description about GRADIENT BOOSTER</p>
            <h1>SVM</h1>
            <p>Brief Description about SVM</p>
            <h1>DECISION TREE</h1>
            <p>Brief Description about DESCISION TREE</p>
         </div>
         <div id="live" class="tab-pane fade">
            <h3>Live Energy Supply and Demand for Different States</h3>
            <iframe src='https://embed.global-roam.com/containers/6e53b580-eae4-48e0-b689-3379b9d33d23' style='border: none; background: transparent; display: block; width: 100%; min-height: 341px;'></iframe>
            <p>This widget was provided by reneweconomy.com.au</p>
         </div>
      </div>
   </section>
   <section class="article2">
      <footer>
         <div class="container  footer">
            <div class="row">
               <p> A project by Deakin Energy Tribe</p>
            </div>
         </div>
      </footer>
   </section>
   <script>

		$(document).ready(function(){
         //Reference the DropDownList.
         var year = document.getElementById("fyear");

         //Determine the Current Year.
         var currentYear = (new Date()).getFullYear();

         //Loop and add the Year values to DropDownList.
         for (var i = 2000; i <= currentYear; i++) {
            var option = document.createElement("option");
            option.innerHTML = parseInt(i);
            option.value = parseInt(i);
            year.appendChild(option);
         }

			var tab = get('tab');
         var year = get('year');
         var state = get('state');
         var month = get('month');
         var festival = get('festival');
         if(tab == 'festival'){
				$('#festival_li').click();
            $('#fyear').val(year)
            $('#festival_select').val(festival);
			}else if(tab == 'monthly'){
				$('#monthly_li').click();
            $('#mstate').val(state)
            $('#month').val(month);

			}
		});

		function get(name) {
				if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
					return decodeURIComponent(name[1]);
		}

		function option_retainer() {
			var algorithm = '{{ selected_algorithm }}';
			if (algorithm > " ") {
				document.getElementById(algorithm).selected = 'selected';
			}
		}
	</script>
</body>